<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
   <!-- 3. 3パーシャル app/views/layouts/_shim.html.erb  HTML shimがこの1行で収まる -->
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <!-- 3. 3パーシャルapp/views/layouts/_header.html.erb   headerの内容がこの1行で収まる -->
    <%= render 'layouts/header' %>
   
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>