<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
   <!-- 3. 3パーシャル app/views/layouts/_shim.html.erb  HTML shimがこの1行で収まる -->
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <!-- 3. 3パーシャルapp/views/layouts/_header.html.erb   headerの内容がこの1行で収まる -->
    <%= render 'layouts/header' %>
   
    <div class="container">
      <!-- 5. 5. 6 サクセスメッセージを表示しよう -->
      <% flash.each do |message_type, msg| %>
      <div class="alert alert-<%= message_type %>"><%= msg.html_safe %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    <!-- 5. 1 レイアウトにデバッグ情報を追加しよう-->
    </div>
  </body>
</html>